{% extends "../templates/layouts/default_1.njk" %}
{% block customMetaTags %}
<!-- customMetaTags -->
    <meta name="description" 
            content="Learning a new language is one of the most rewarding experiences you can embark on. Not only does it expand your mind, it opens you up to a new view of the world">
    <meta name="keywords"
            content="Common Difficulties Of Speaking German, pronunciation, speak, mobile, speak German, pronunciation, German Dialects">
    <meta name="robots"
            content="INDEX,FOLLOW">
    {% endblock %}
{% block content %}
<main id="main">
<!--Blog Image -->
        <div class="container">
            <div class="row justify-content-center my-5">
                <div class="col-lg-9">
                    <img src="../img/blog/hard.jpg" 
                        class="img-fluid img-thumbnail" 
                        alt="People trying to climba stack of books">
                    <figcaption class="figure-caption p-2 text-left">
                        Photograph: Franck Allais
                    </figcaption>    
                </div>
            </div>
        </div>
<!--Blog Content -->
        <div class="bg-skew bg-skew-light">
            <div class="container card">
                <div class="row justify-content-center mybg-light2">
                    <div class="col-lg-10">
                        <article class="pb-2">
                            <h1 class="text-center pt-5">The Common Difficulties Of Speaking German</h1>
                            <p class="small mb-5 text-center"><span class="text-secondary">published on </span><span class="text-uppercase">NOV 10, 2019</span></p>
                            <p class="lead">Learning a new language is one of the most rewarding experiences you can embark on.  Not only does it expand your mind, it opens you up to a new view of the world. By learning to speak a second language, you can travel, explore a new country, and engage with the locals so much better than if you’re relying on Google translate to help you get around.</p>
                            <p>There are plenty of upsides to learning a new language, but there are also some common factors that get in the way of new learners.  Many people have a fear of humiliating themselves in front of strangers by saying the wrong thing; after all, to be functionally fluent in a language requires not only a lot of time and effort but also to learn with the right methods.</p>

                            <p>Some languages are harder to learn than others, and one that’s got a reputation for being especially hard to learn is German. But once you’ve got a better understanding of the intricacies of spoken German, you’ll find that there’s a rhythm to the language that fits like a glove.  Learning to speak German is an endeavor that’s well worth the effort, so don’t let fear stop you from tackling this beautiful language. Here are the common difficulties of speaking German without mentioning the points, that related to grammar, because just understanding the grammar does not mean you can speak fluently.
                            </p>
                            <h2 class="h3 mt-4">German Pronunciation "Deutsche Aussprache"
                            </h2>
                            <p>
                                German pronunciation is famous for being particularly difficult. German is stereotypically thought of as sounding harsh and exotic, and this may be due to the fact that German has several sounds that don’t exist in the English language.  One of the most common is the “ch” sound, which is pronounced differently depending on whether or not it follows an a, o, u or au or not. Then there’s the “pf” (puh-fuh), “qu” (kv), and “sp/st” (don’t forget to add the ‘h’ after the ‘s’).  And all of this is before we’ve even gotten to the umlauts!
                            </p>

                            <p>
                                One easy way to start getting a hang of German pronunciation is by imitating other German accents.  This will help you start to pronounce words correctly and learn a natural sentence rhythm.  You’ll start to pick up on the little details like the fact that you can’t have a “v” or a “z” sound at the end of German words.  You’ll also get a hang of those tricky vowel combinations such as “ai/ei”, “au”, “eu/äu”, and “ie”.
                            </p>
                            <p>
                                And then there’s the famous “ridiculously long and difficult to pronounce words” such as “bedarfsgemeinschaftsnummer” which means “need association number”, that German has to offer. These can be intimidating to even native speakers, but the reality is that they’re not difficult to pronounce once you get the hang of them. They’re simply multiple small words strung together, so all you have to do is take them one at a time and they’re much more manageable.
                            </p>

                            <h2 class="h3 mt-4">German Dialects</h2>
                            <p>
                                German is written the same across all of Germany, but it’s spoken in many different dialects and regional accents that can make it incredibly intimidating for knew speakers.  Even some native German speakers have a hard time with the denser dialects like Bavarian.  But don’t be intimidated if you don’t understand local dialects right away Germans are well aware of how difficult it is even for them.
                            </p>
                            <p>
                                There’s also the fact that the German language is typically taught internationally as Hochdeutsch, or “High German”.  While this is familiar to people with higher education, rural Germans may have less familiarity with it.  This can make communication difficult when traveling to the lesser-populated areas of Germany.
                            </p>
                            <h2 class="h3 mt-4">Spoken And Written German</h2>
                            <p>
                                Spoken German and written German are two completely different things.  Spoken German has a word of it’s own, which is Umgangssprache (slang).  This spoken language is characterized by a bunch of small words “modal particles” that have no meaning on their own, but are used by Germans to give a certain tone to a sentence.  Words such as schon, halt, mal, and doch will be tacked on to liven up the language and give a clearer meaning to what Germans say.  These are the words that separate the native speakers from those who’ve learned German as a second language. Down below is youtube clip talk more about modal particles.
                            </p>
                            <div class="embed-responsive embed-responsive-16by9 mb-3">
                                <iframe class="embed-responsive-item" 
                                        src="https://www.youtube.com/embed/-Awhco_VHWE" 
                                        allowfullscreen>
                                        </iframe>
                            </div>
                            <p>
                                While you can spend hours immersing yourself in Grammar stuff and textbooks, it sadly won’t take you too far when faced with having an actual conversation.  There’s nothing like speaking a language in the moment with another person, having to decipher tone and words and body language all at once.  But the best way to learn to speak German as opposed to writing it is to do just that— speak it! If you cann’t get in touch with native speakers or might have fear of being embarrassed of making mistakes in front of others, then you can try 
                                <a
                                    href="https://play.google.com/store/apps/details?id=com.app.spreskill&referrer=utm_source%3Website%26utm_medium%3DD-blog "
                                    target= "_blank">
                                SpreSkill</a>, the mobile app that will will level up your fluency level to expert, it uses an advanced speech recognition technology and a smart technique to grow your speaking skill. 
                            </p>
                            <h2 class="h3 mt-4">You Have To Develop A Feeling For German</h2>
                            <p>
                                Mastering German (or any language, really) requires getting into it and developing a feeling for it.  This is known as Sprachgefühl, and it is something that can only be attained over time.  When many people start out speaking German, they rely on the mechanical and programmed approach of translating in their head.  Sprachgefühl is about getting into the sound and feel of the language and living the words rather than simply repeating them from a textbook.
                            </p>
                            <p>
                                But learning to speak German is truly worth it.  Any new language comes with difficulties, and the German people know how difficult it can be for new speakers.  Even if you get the words wrong or mispronounce something, native German speakers will be supportive of your efforts to speak their language.  If you master these difficulties, you’ll be glad you put in the time and effort to learn this awesome language.
                            </p>
                            <hr class="mt-0" role="presentation">
<!-- author Bio -->
{% include "../templates/includes/authorBio_JL.njk" %}

                        </article>
                    </div>
                </div>
            </div>
        </div>
</main>
    {% endblock %}
