{% extends "layouts/default.njk" %}

{% block customMetaTags %}
<!-- customMetaTags -->
    <meta name="description"
            content="Feel free to get in touch we like to hear from you">
    <meta name="keywords" 
            content="contact us">
    <meta name="robots"
            content="INDEX,FOLLOW">
{% endblock %}

{% block content %}
<main id="main">
<!-- Main -->
    <div class="container pt-3">
        <div class="row justify-content-lg-center"> 
            <div class="col-lg-9 mb-6">
                <h3 class="h3 mb-5">Contact us</h3>
                <h4 class="h4">
                    Do you have questions?
                </h4>
                <p>
                    Feel free to get in touch any time at <a href="mailto:support@spreskill.com">
                    support@spreskill.com</a> we like to hear from you
                </p>
            </div>
        </div>
    </div>
</main>
{% endblock %}
