<!doctype html>
<html lang="en">
{% include "includes/head.njk" %}
<body data-spy="scroll" data-target="#nav-comp">
{% include "includes/header.njk" %}
{% block content %} {% endblock %}
{% include "includes/scripts.njk" %}
</body>
</html>
