<!doctype html>
<html lang="en">
{% include "includes/head.njk" %}
<body>
{% include "includes/header.njk" -%}
{% block content %} {% endblock %}
{% include "includes/scripts.njk" -%}
</body>
</html>
