                            <div class="media my-5">
                                <img class="avatar avatar-lg mr-3" src="../img/blog/JoeLeonard.png" alt="author photo">
                                <div class="media-body">
                                    <h3 class="h5 mt-0">JOE LEONARD </h3>
                                        <p class="mb-0 text-secondary">Joe is a guest writer living in Los Angeles. He writes a blog of topical, emotionally powerful articles and essays. He also writes episodic television and short films.</p>
                                </div>
                            </div>