<footer class="site-footer mt-5">
<div class="container">
    <hr class="mt-0" 
        role="presentation">
    <div class="row justify-content-md-between">
        <div class="col-6  col-md-2 mb-4">
                <h3 class="h6 mb-1">About</h3>
                    <ul class="nav flex-column">
                        <li class="mb-1">
                            <a href="AppTerms/PrivacyPolicy.html">Privacy Policy</a>
                        </li>
                        <li class="mb-1">
                            <a href="AppTerms/TermsOfService.html">Terms Of Service</a>
                        </li>
                    </ul>
            </div>
            <div class="col-4 col-sm-7 col-md-9 mb-4">
                <h3 class="h6 mb-1">Connect</h3>
                    <ul class="nav flex-column">
                        <li class="mb-1">
                            <a href="contact_us.html">Contact</a>
                        </li>
                        <li class="mb-1">
                            <a href="blog.html">Blog</a>
                        </li>
                    </ul>
            </div>
    </div>

    <hr class="m-0" role="presentation">

    <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-center mt-4">
            <p class="medium text-muted">&copy; SpreSkill 2019</p>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="icon icon-md icon-secondary" href="//www.instagram.com/spreskill/">
                        <i class="icon-inner fab fa-instagram" aria-hidden="true">
                        </i><span class="sr-only">Instagram</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="icon icon-md icon-secondary" href="//www.facebook.com/spreskill.german">
                        <i class="icon-inner fab fa-facebook-f" aria-hidden="true">
                        </i><span class="sr-only">Facebook</span>
                    </a>
                </li>
            </ul>
        </div>
        </ul>
    </div>
</div>
</footer>